.DS_Store
/Users/raquelcoriat/Desktop/Samapp/api/.DS_Store
/Users/raquelcoriat/Desktop/Samapp/assets/.DS_Store
/Users/raquelcoriat/Desktop/Samapp/config/.DS_Store
/Users/raquelcoriat/Desktop/Samapp/tasks/.DS_Store
