<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="css/landing-page.min.css" rel="stylesheet">

  </head>

  <body>

    <!-- Masthead -->
    <header class="masthead text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h1 class="mb-5">Cansado de buscar en Sirius? Te traemos SAMAPP!</h1>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
                <div class="row">
                    <div class="col-12 d-flex flex-row justify-content-center">
                      <a type="submit" class="users btn-lg btn-primary mx-3" href="/estudiante" >Estudiante</a>
          
                      <a type="submit" class="users btn-lg btn-warning mx-3" href="/profesor">Profesor</a>
                    </div>
                  </div>
                </div>
              </div>
    </header>

    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-screen-desktop m-auto text-primary"></i>
              </div>
              <h3>0 Clases fantasmas</h3>
              <p class="lead mb-0">El mejor curso de base de datos, con diferentes actividades</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-layers m-auto text-primary"></i>
              </div>
              <h3>Querys Gorditos</h3>
              <p class="lead mb-0">Como los come Matienzo, como le gustan a Pilar</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
              <div class="features-icons-icon d-flex">
                <i class="icon-check m-auto text-primary"></i>
              </div>
              <h3>En la nube</h3>
              <p class="lead mb-0">Accede desde cualquier lugar, todo esta en la nube, nada local</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Image Showcases -->
    <section class="showcase">
      <div class="container-fluid p-0">
        <div class="row no-gutters">

          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-1.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2>Becados</h2>
            <p class="lead mb-0">La Universidad Metropolitana basada en los principios de universalidad, inclusión, permanencia e igualdad, ofrece el Programa Becas de Excelencia, que permite a los jóvenes egresados de Educación Media -que han logrado destacarse en su desempeño académico, deportivo, artístico, compromiso cívico y en emprendimiento- contar con los recursos económicos necesarios para el estudio de una carrera universitaria.</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 text-white showcase-img" style="background-image: url('img/bg-showcase-2.png');"></div>
          <div class="col-lg-6 my-auto showcase-text">
            <h2>Profesores</h2>
            <p class="lead mb-0">Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('img/bg-showcase-3.jpg');"></div>
          <div class="col-lg-6 order-lg-1 my-auto showcase-text">
            <h2> Selección deportiva </h2>
            <p class="lead mb-0">La Universidad Metropolitana promueve la práctica deportiva entre los miembros de la comunidad universitaria, y apoya la participación de los estudiantes en competencias dentro y fuera del campus. Por eso cuenta con las selecciones en masculino y femenino de fútbol, karate, fútbol sala, rugby, tenis, volleyball. En masculino adicional béisbol y baloncesto y solo en femenino Kickingball  </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Testimonials -->
    <section class="testimonials text-center bg-light">
      <div class="container">
        <h2 class="mb-5">Opiniones de Unimetanos</h2>
        <div class="row">
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-1.jpg" alt="">
              <h5>Alejandro Marcano.</h5>
              <p class="font-weight-light mb-0">"Gracias a esta app puedo organizarme mejor"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-2.jpg" alt="">
              <h5>Maximiliano Hernandez.</h5>
              <p class="font-weight-light mb-0">" le dimos un baile a la App de Metropavos vale"</p>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="testimonial-item mx-auto mb-5 mb-lg-0">
              <img class="img-fluid rounded-circle mb-3" src="img/testimonials-3.jpg" alt="">
              <h5>Fernando Yanez.</h5>
              <p class="font-weight-light mb-0">"Somos los que flinchy vale"</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <h2 class="mb-4">Listo para samear? SAMAPP!</h2>
          </div>
          <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
             
            </form>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
            <ul class="list-inline mb-2">
              <li class="list-inline-item">
                <a href="#">About</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Contact</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Terms of Use</a>
              </li>
              <li class="list-inline-item">&sdot;</li>
              <li class="list-inline-item">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Your Website 2018. Esto en Venezuela papa.</p>
          </div>
          <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
            <ul class="list-inline mb-0">
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-facebook fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item mr-3">
                <a href="#">
                  <i class="fa fa-twitter fa-2x fa-fw"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="#">
                  <i class="fa fa-instagram fa-2x fa-fw"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <section class="contact">
      <div class="container">
        <div>
          <div class="contact-captionx">
            <div class="contact-heading text-center">
              <h2>Ingresa al Sistema</h2>
            </div>
            <div class="d-flex flex-row justify-content-centert">
              <div class="contact-info">
                <h3>Soy Estudiante</h3>
                <div class="contact-form">
                  <form class="form" action="/estudiante/menu" method="post">
                    <h3 style="text-align: left">Ingrese su cedula:</h3>
                    <input class="cedula" type="number" min="1" placeholder="cedula del estudiante" name="cedulaEstudiante">
                    <input class="submit-btn" type="submit" value="INGRESAR">
                    <br>
                  </form>
    
                  <form action="/estudiante/new">
                    <br>
                    <h3 style="text-align: left"> No estas registrado?</h3>
                    <input class="submit-btn" type="submit" value="REGISTRARSE">
                  </form>
                </div>
              </div>
              <div class="contact-info">
                <h3>Soy Profesor</h3>
                <div class="contact-form">
                  <form class="form"  action="/profesor/menu" method="POST">
                    <h3 style="text-align: left">Ingrese su cedula:</h3>
                    <input class="cedula" type="number" min="1" placeholder="cedula del doctor" name="cedulaDoctor">
                    <input class="submit-btn" type="submit" value="INGRESAR">
                    <br>
                  </form>
                  <form class="form" action="/profesor/new" method="post" >
                    <br>
                    <h3 style="text-align: left"> No estas registrado?</h3>
                    <input class="submit-btn" type="submit" value="REGISTRARSE">
                  </form>  
              </div>
            </div>
          </div>
        </div>
      </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>