<div class="container">

    <form action="/estudiante/create" method="POST" accept-charset="utf-8" class="form-singin">
        <label>Cedula</label>
        <input type="text" name="cedula" class="form-control"  required>
        <label>Nombre</label>
        <input type="text" name="nombre" class="form-control"  required>
        <label>Apellido</label>
        <input type="text" name="apellido" class="form-control"  required>
        <label>Email</label>
        <input type="text" name="email" class="form-control"  required>
        <label>Telefono</label>
        <input type="text" name="telefono" class="form-control"  required>
        <label>Carrera</label>
        <input type="text" name="carrera" class="form-control"  required>
    </br>
    <input type="submit" value="Registrar" />


</form>
<a class="button" href="/estudiante"> Regresar </a>

</div>